:root {
  --dark-gray: #2C3531;
  --light-gray: #D1E8E2;
  --dark-green:  #116466;
  --dark-peach:  #D9B08C;
  --light-peach:  #FFCB9A;
}
/* #116466 dkgreen, #D9B08C Dark peach, #FFCB9A Light peach*/
body {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

div {
  background-color: var(--dark-green);
}

#wrapper {
  width: 80%;
  min-height: 90%;
  margin: 2.6rem auto;
  border-radius: 4px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
}

.underlined-box {
  border-bottom-style: solid;
  border-width: 1px;
}

#top-nav {
  width: 80%;
  display:inline-flex;
  padding-bottom: 5px;
}

#content {
  display:flex;
  flex-direction: column;
  width: auto;
  padding-left: 5px;
  min-height: 10rem;
  justify-content: center;
  align-items: center;
  font-family: 'B612', sans-serif;
  border-radius: 4px;
  margin-bottom: 30px;
}

ul {
  font-size: small;
  font-family: 'B612', sans-serif;
  margin-top: 0;
}

.pic-area {
  display: block;
  float: right;
  margin: 10px;
}

.story {
  width: 90%;
  font-size: medium;
}

.story p {
  text-indent: 20px;
  font-size: small;
  padding: 5px;
}

.sub-heading {
  font-size: medium !important;
  margin: 0;
}
.story-head {
  border-bottom-style: solid;
  font-weight: bold;
  border-bottom-width: thin;
  font-size: medium;
  width: initial;
  margin-top: 15px;
}

.solid-border-btm {
  border-bottom-style:solid;
  border-bottom-width:thin;
  margin-bottom: 10px;
}

.error-div p {
  color: var(--dark-peach);
  font-weight: bold;
}
.error-div h3 {
  margin: auto;
}

.error-div {
  width: 50%;
  height: 2rem;
  text-align: center;
  flex-direction: column;
  display: inline-flex;
  justify-content: center;
}
.contact-div {
  width: 80%;
  height: 4rem;
  text-align: left;
  padding-top: 2rem;
  flex-direction:row;
  display: inline-flex;
  font-size: large;
  justify-content: center;
}

.contact-div img {
  width: auto;
  height: 80%;
  padding-right: 1rem;
}
.contact-div text {
  padding-top: 1rem;
}

#my-pic {
  border-radius: 5px;
  box-shadow: -3px 3px 2px rgba(0,0,0,0.2);
}

.nav-container {
  display:flex;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size:x-large;
}

.nav-link {
  width: 20%;
  height: 2rem;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  justify-content:center;
  display:inline-flex;
  padding: 5px;
  cursor: pointer;
  font-size:x-large;
}

.nav-link:hover {
  background-color: var(--dark-peach);
  color: var(--dark-green)
}

a {
  color: var(--light-peach);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--light-gray);
}

.icon-img {
  width: 28px;
  height: 28px;
  margin-left: 5px;
}
