<div class="story"><div class="story-head">Origin Story</div>
<div class="pic-area"><img src="http://www.fillmurray.com/270/300" alt="Temporary bill murray has appeared"></div>
<p>I was born in a very rural town in the valleys of the appalachian mountains in West Virginia. In general the population is reserved and resistant to change.
The expected goal in life for a young man is to be a coal miner at this time. It is the only high paying job you can get straight out of school, and America will always need coal. (Right?)
My family was the first I knew to get a PC, and later the first to get internet. Unfortunately we didnt have call waiting so this was a glorious and frustrating time for me.</p>


<div class="story-head">The Early Days</div>
<p>My first memories of computers came from watching my dad play around on an MS-DOS IBM he had gotten from work.
I doubt he knew then, but I have a very vivid memory of us messing around with the source code to Gorillas (A QBasic game) and it has stuck with me to this day.
I just thought it was so cool that you could literally make your computer do anything you could imagine if you knew how to write code. I was very young and had no real
concept of what was going on, but it didn't take long to "teach" the computer how to do something simple like count to 1000.</p>

<p>I kind of drifted away from learning QBasic and got into video games. Paperboy, Simon the Sorcerer, Battle Chess, and Wolfenstein 3D were some of my favorite PC games.
Though I wasnt actively studying code concepts at age 10 I would regularly be playing a game and wondering "How does this work? Whats this code look like?"
Around 13 years old I decided to try and learn how to make a game and I have been learning computer science/engineering since. There is ALWAYS something new and interesting to learn!</p>

<p>I became immersed in computer (and sometimes hacker) culture. Literally anything that interested me was explored. High level, low level, packet modification, OSdev, GameDev.
The list could go on forever. For the first time I could think "How does that work?" and immediately go find out. </p>


<div class="story-head">More than a hobby?</div>
<p>Fast forward to me at 30 years old. I'm a father of 2 and I have pretty much been working in whatever local job I could find. Sometimes fixing peoples computers or phones
provided extra income but it was far from steady. My line of work at this time was Auto-Body repair, when a friend told me about an interesting conversation he had.
He had met someone at a local resturaunt hanging up flyers for a coding bootcamp. Their main focus was to re-train interested laid off coal miners to code, though this wasnt a requirement.
It seemed to good to be true: completely free, go at your own pace, and they were even offering jobs to anyone who could complete the bootcamp. My friend knew how much I wanted to do this for a career and
took it upon himself to give my number to this recruiter and tell him about me. The recruiter (And now good friend) eventually talked me into signing up.</p>

<p>So I worked it out with my boss and was working full time on cars while going to the bootcamp 2 days a week and working on assignments in the evening.
A few quick months later I had my first actual job as a contracted programmer!</p>


<div class="story-head">Unwritten Chapters</div>
<p>So here we are today. If you are interested in offering me an interview, but are worried about my resume in the industry being so light at my age (31), give it a chance!
What I lack in traditional education and professional experience is made up with an unquenchable passion for learning and a deep pool of "learned the hard way" to reflect on.
I am working on my portfolio every day, trying to make it more solid and higher quality. If you decide to reach out to me I promise I will not waste your time.</p>

<p>An individual can do something, but a team can do something great!</p>
</div>