<div class="story solid-border-btm"><div class="story-head"><a href="https://gb-ttt.herokuapp.com/">Pirates vs Ninjas</a></div>
  <div class="pic-area"><img src="/img/ttt_img.png"></div>
  <p>Browser based TicTacToe. <a href="https://github.com/gboydhub/tictactoe"><img src="/img/github.png" class="icon-img"></a></p>
  Features
  <ul>
    <li>1 or 2 players</li>
    <li>Multiple AI settings, including unbeatable</li>
    <li>Expandable grid</li>
    <li>Server backend uses Ruby</li>
    <li>Konami code</li>
  </ul>
</div>

<div class="story solid-border-btm"><div class="story-head"><a href="https://gb-ttt.herokuapp.com/">Something in a compilable language</a></div>
  <div class="pic-area"><img src="http://fillmurray.com/300/190"></div>
  <p>C++/Java/Something <a href="https://github.com/gboydhub/tictactoe"><img src="/img/github.png" class="icon-img"></a></p>
  Features
  <ul>
    <li>Things</li>
  </ul>
</div>

<div class="story solid-border-btm"><div class="story-head"><a href="https://gb-ttt.herokuapp.com/">Maybe lambda</a></div>
  <div class="pic-area"><img src="http://fillmurray.com/296/192"></div>
  <p>Node stuff <a href="https://github.com/gboydhub/tictactoe"><img src="/img/github.png" class="icon-img"></a></p>
  Features
  <ul>
    <li>Things</li>
  </ul>
</div>

<div class="story solid-border-btm"><div class="story-head"><a href="https://github.com/gboydhub">My GitHub</a></div>
  <p>You can find the code for this website, the projects above, or any number of experiments here.</p>
</div>