<div class="story solid-border-btm"><div class="story-head"><a href="https://www.amlia.com">Amlia.com</a></div>
  <div class="pic-area"><img src="/img/amlia_img.png"></div>
  <p>Worked 6 months with a small team, both on-site and remote. During this time my biggest challenge was creating a scalable data pipeline to import products from multiple sources.</p>
    <li>Goals
      <ul>
        <li>Easily expandable/scalable</li>
        <li>Run hands free on fixed schedule</li>
        <li>Store raw data in Azure database</li>
        <li>Combine newest relative data from warehouse</li>
        <li>Update Postgres database connected with production</li>
      </ul>
    </li>
    
    <li>Technologies Employed
      <ul>
        <li>AWS Lambda, EC2, SQS, S3, Cloudwatch Events</li>
        <li>Node 8.10, Ruby, SQL, JSON</li>
      </ul>
    </li>

    <li>Communication
      <ul>
        <li>Worked directly with client to ensure quality</li>
        <li>Worked with off-site data scientist to ensure quality of data and search</li>
        <li>Worked with many team members to coordinate expected data.</li>
      </ul>
    </li>

    
    <div class="story-head">Other tasks</div><br>
    <li>Android Studio (Java)
      <ul>
        <li>Google billing</li>
        <li>Firebase authentication</li>
        <li>Minor Maintenance</li>
      </ul>
    </li>
    <li>Front-end
      <ul>
        <li>Minor page updates/layout fixes</li>
        <li>Javascript updates</li>
      </ul>
    </li>
    <li>Back-end
      <ul>
        <li>Billing webhooks (Paypal, Stripe)</li>
        <li>Lambdas to poll Apple/Google billing</li>
        <li>Some vulnerability patches</li>
      </ul>
    </li>
</div>
<br>
<div class="story solid-border-btm"><div class="story-head"><a href="http://www.minedminds.org/">MinedMinds Bootcamp</a></div>
  <div class="pic-area"><img src="/img/mm_img.png"></div>
  <p>Completed on-site bootcamp in 3 months. This was an invaluable experience for me to bridge the gap into the professional world.</p>
  <ul>
    <li>Learned a <i>ton!</i></li>
    <li>Met many new people, and hopefully some life long friends!</li>
    <li>Exposed to some current technologies and trends</li>
    <li>Frequently used Zoom, Slack, and Trello for communication</li>
  </ul>
</div>