:root {
  --dark-gray: #2C3531;
  --light-gray: #D1E8E2;
  --dark-green:  #116466;
  --dark-peach:  #D9B08C;
  --light-peach:  #FFCB9A;
}
/* #116466 dkgreen, #D9B08C Dark peach, #FFCB9A Light peach*/
body {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

div {
  background-color: var(--dark-green);
}

#wrapper {
  width: 80%;
  min-height: 90%;
  margin: 2.6rem auto;
  border-radius: 4px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
}

#top-nav {
  width: 80%;
  border-bottom-style: solid;
  border-width: thin;
  display:inline-flex;
  padding-bottom: 5px;
}

#content {
  display:flex;
  flex-direction: column;
  width: auto;
  padding-left: 5px;
  min-height: 10rem;
  justify-content: center;
  align-items: center;
  font-family: 'B612', sans-serif;
  border-radius: 4px;
  margin-bottom: 30px;
}

ul {
  font-size: small;
  font-family: 'B612', sans-serif;
  margin-top: 0;
}

.pic-area {
  display: block;
  float: right;
  margin: 10px;
}

.story {
  width: 90%;
}

.story p {
  text-indent: 20px;
  font-size: small;
  padding:5px;
}

.story-head {
  border-bottom-style: solid;
  font-weight: bold;
  border-bottom-width: thin;
  font-size: medium;
  width: fit-content;
  margin-top: 15px;
}

.solid-border-btm {
  border-bottom-style:solid;
  border-bottom-width:thin;
  margin-bottom: 10px;
}

.error-div p {
  color: var(--dark-peach);
  font-weight: bold;
}
.error-div h3 {
  margin: auto;
}

.error-div {
  width: 50%;
  height: 2rem;
  text-align: center;
  flex-direction: column;
  display: inline-flex;
  justify-content: center;
}

.nav-container {
  display:flex;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-family: 'Oswald', sans-serif;
}

.nav-link {
  width: 20%;
  height: 1.5rem;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  justify-content:center;
  display:inline-flex;
  padding: 5px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: var(--dark-peach);
}

a {
  color: var(--light-peach);
  text-decoration: none;
}